@mixin font-setting($fweight, $fsize, $flineheight, $color: $font-color-primary) {
  font-weight: $fweight;
  font-size: $fsize;
  line-height: $flineheight;
  color: $color;
}

@mixin bgi-setting($url, $bgp: center, $bgr: no-repeat, $bgz: contain) {
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin flex-setting($direction: initial, $align: initial, $justify: initial, $gap: initial) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap
}
